/*===========================
=== HEADER CONTENT STYLES ===
===========================*/

.main__about-us {
  margin-bottom: 8rem;
}

.items__about-us {
  flex-basis: 48%;
  padding: 2rem 1rem;
  text-align: left;
}

.about-us__heading {
  font-size: clamp(1.5rem, 3vw, 4rem);
}

.about-us__description {
  margin-bottom: 1rem;
}

.about-us__image {
  width: 100%;
}

@media screen and (max-width: 700px) {
  .items__about-us {
    text-align: center;
  }
  
}
